// 数据列表
.vm-data-list {
  padding: 20px 20px;

  &.no-padding {
    padding: 0;
  }

  .vm-data-list-item {
    margin-bottom: 20px;
  }
}

.vm-tip {
  padding: 150px 0;
  text-align: center;
  color: #bcbcbc;
  font-size: 32px;

  &.small {
    padding: 40px 0;
  }

  .more-text {
    padding: 50px 0;
    font-size: 28px;
  }
}

// 授权
.vm-auth {
  padding: 50px 40px;
  .auth-title {
    text-align: center;
    font-size: 28px;
    padding: 20px 0;
  }
  .auth-brife {
    color: #727171;
    font-size: 22px;
    padding: 30px 0;
  }
  .auth-pic {
    display: block;
    width: 70%;
    margin: 10px auto;
  }
  .auth-btn {
    margin-top: 20px;
  }
  .auth-ok {
    text-align: center;
    color: #333;
    font-size: 28px;
    font-weight: bold;
    padding: 30px 0;
  }
}

// 顶部自定义导航栏
.vm-topbar {
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .vm-statusbar {
    background-color: transparent;
  }
  .vm-navbar {
    background-color: transparent;
  }
}

.vm-topbar-ph {
  width: 100%;
}

// 通用搜索框
.vm-searchbar {
  width: 100%;
  z-index: 1;
  position: relative;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.vm-searchbar-ph {
  height: 110px;
}

// 底部菜单
.vm-bottombar {
  // height: 110px;
  width: 100%;
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 4px #99999950;
  }
}
.vm-bottombar-ph {
  height: 110px;
}

// overlay
.vm-overlay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .vm-overlay-card {
    width: 80%;
    min-height: 200px;
    background-color: #fff;
  }
}

// popup
.vm-popup-container {
  position: relative;
  padding: 100px 0 120px 0;
  height: 100%;
  width: 100%;

  .popup-header {
    padding: 30px 0;
    border-bottom: 2px solid #c9caca;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    background-color: #fff;

    .popup-title {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .popup-body {
    padding: 40px 10px;
    position: absolute;
    top: 100px;
    bottom: 120px;
    left: 20px;
    right: 20px;
    overflow: auto;

    &.no-header {
      top: 0;
    }
    &.no-footer {
      bottom: 0;
    }
  }

  .popup-footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 20px 0;
    height: 120px;
    background-color: #fff;
  }

  .popup-btn {
    color: #000;
    background-color: #c6d8a3;
    width: 75%;
    height: 58px;
    line-height: 58px;
    border-radius: 60px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #c6d8a3;

    &.cancel {
      border: 1px solid #c6d8a3;
      background: #fff;
      color: #c6d8a3;
    }
  }

  .popup-data-list {
    .popup-data-list-item {
      padding: 20px 0;
      font-size: 22px;
      .name {
        color: #989898;
      }
      .value {
        color: #000;
        font-weight: bold;
      }
    }
  }
  .popup-data-list-field {
  }

  .no-padding-x {
    padding-left: 0;
    padding-right: 0;
  }
  .no-padding-y {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.vm-submit-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  user-select: none;
  z-index: 100;
  background-color: #fff;
  height: 100px;
  padding: 0 32px;

  &.btn-tips {
    height: 120px;
  }
}

.vm-submit-bar-ph {
  height: 100px;
  opacity: 0;
  width: 100%;
}

.vm-submit-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
  z-index: 100;
  background-color: #fff;
  height: 100px;
  padding: 0 32px;
}

.vm-submit-topbar-ph {
  height: 100px;
  opacity: 0;
  width: 100%;
}

// 表单页面

.vm-form {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: auto;
}

.vm-form-body {
  padding: 20px;
}

.vm-form-btns {
  background-color: #fff;
  height: 100px;
  padding: 20px 20px;
}

// card嵌套
.vm-card {
  margin-bottom: 20px;

  .at-list::after {
    display: none;
  }

  .at-list__item-extra {
    max-width: 335px;
  }

  .at-form::after {
    display: none;
  }
  .at-input {
    margin-left: 22rpx;
  }

  input {
    text-align: right;
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    direction: rtl;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    direction: rtl;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    direction: rtl;
  }
}
